<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="com.google.android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="com.google.android.permission.BIND_LISTENER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_DISTANCE" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.WRITE_STEPS" />
    <uses-permission android:name="android.permission.health.WRITE_DISTANCE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />

        <intent>
            <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
        </intent>
        <intent>
            <action android:name="androidx.health.ACTION_REQUEST_PERMISSIONS" />
        </intent>
    </queries>

    <uses-feature android:name="android.hardware.type.watch" />

    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/marathon_online"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/marathon_online"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarathonOnline"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="31">

        <service
            android:name=".service.foreground.RunningForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".ui.view.activity.RecordFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.VNPayWebViewActivity"
            android:exported="false" /> <!-- Metadata để Health Connect nhận diện -->
        <meta-data
            android:name="health_permissions"
            android:resource="@array/health_permissions" />

        <activity
            android:name=".ui.view.activity.SettingActivity"
            android:exported="false" /> <!-- QUAN TRỌNG: Health Connect Integration -->
        <activity-alias
            android:name=".ViewPermissionUsageActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:targetActivity=".ui.view.activity.SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />

                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:name=".service.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.firebase.FeedbackBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.university.marathononline.firebase.MyFirebaseMessagingService.ACTION_NEW_FEEDBACK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.firebase.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="DISMISS_NOTIFICATION" />
                <action android:name="MARK_AS_READ" />
                <action android:name="CLEAR_ALL_NOTIFICATIONS" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.WearDataReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.NODE_CHANGED" />
                <action android:name="com.google.android.gms.wearable.NODE_DISCONNECTED" />

                <data
                    android:host="*"
                    android:scheme="wear" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.gms.wearable.BIND_LISTENER"
                android:value="true" />
        </service>

        <activity
            android:name=".ui.view.activity.ArchivedPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.TrainingPlanHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.TrainingPlanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.NotificationsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.view.activity.ManagementDetailsContestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.AddContestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.OrganizerMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RunnerRewardsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RunnerContestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.PaymentConfirmationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.location.location_tag"
            android:value="com.university.marathononline" />

        <activity
            android:name=".ui.view.activity.DeleteUserAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.AccountDeletedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.EditInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.SignUpSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RegisterOrganizerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.VerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RegisterRunnerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RegisterBasicInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.ContestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.view.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.SplashRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>